<template>
    <div>
        <div>{{ contact.firstname }}</div>
        <div>{{ contact.lastname }}</div>
        <div>{{ contact.email }}</div>
        <div v-if="canDelete" class="contact-item-action">
            <button @click.prevent="remove">
                <svg class="inline-block text-blue-500" height="24px" viewBox="0 0 24 24" width="24px">
                    <path fill="currentColor" d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"/>
                </svg>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        contact: Object,
        canDelete: Boolean,
    },
    emits: ['deleted'],
    methods: {
        async remove() {
            const { id } = this.contact;
            try {
                await axios.delete(this.route('contacts.destroy', id), ).catch(function (error) {
                    const { response } = error
                    if(response?.data) {
                        const { error } = response.data;
                        const messages = Object.values(error).join(',');
                        throw new Error(messages);
                    } else {
                        throw new Error(error.message);
                    }
                });
                this.$emit('deleted');
            } catch (error) {
                console.error(error.message);
            }
        }
    }
}
</script>

