<template>
    <div class="modal" :class="hideClasses">
        <div class="modal-overlay"></div>

        <div class="modal-container">

            <button class="modal-close-container" @click="close">
                <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                </svg>
                <span class="text-sm">(Esc)</span>
            </button>

            <form class="modal-content" @submit.prevent="submit">
                <div class="modal-header">
                    <p class="modal-title">Create Contact</p>
                    <button class="modal-close" @click.prevent="close">
                        <svg class="fill-current"  width="18" height="18" viewBox="0 0 18 18">
                            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                        </svg>
                    </button>
                </div>

                <div v-if="error" class="font-medium text-red-600 mb-4">{{ error }}</div>

                <div class="mb-4" v-for="input in inputs" :key="input.model">
                    <label class="modal-label" :for="input.model">{{ input.label }}</label>
                    <input class="modal-input"
                           v-model="form[input.model]"
                           required
                           :type="input.type"
                           :id="input.model"
                           :name="input.model"
                           :class="{ 'opacity-50' : proccessing }"
                           :disabled="proccessing" />
                </div>

                <div class="modal-footer">
                    <button class="modal-btn modal-btn-close"
                            @click.prevent="close"
                            :class="{ 'opacity-50' : proccessing }"
                            :disabled="proccessing">Close</button>
                    <button class="modal-btn modal-btn-submit"
                            type="submit"
                            :class="{ 'opacity-50' : proccessing }"
                            :disabled="proccessing">Create</button>
                </div>

            </form>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        modelValue: {
            type: Boolean,
            default: false
        }
    },
    emits: ['created'],
    data() {
        return {
            inputs: [
                { model: 'firstname', label: 'Firstname', type: 'text'},
                { model: 'lastname', label: 'Lastname', type: 'text'},
                { model: 'email', label: 'Email', type: 'text'},
            ],
            form : this.$inertia.form({
                firstname: '',
                lastname: '',
                email: ''
            }),
            error: '',
            proccessing: false,
        }
    },
    computed: {
        hideClasses() {
            return {
                'opacity-0': !this.modelValue,
                'pointer-events-none': !this.modelValue,
            }
        }
    },
    watch: {
        modelValue(val) {
            document.body.classList.toggle('modal-active', val)
        }
    },
    methods: {
        close() {
            this.$emit('update:modelValue', false);
            this.reset()
        },
        reset() {
            this.form.reset('firstname', 'lastname', 'email');
        },
        async submit() {
            const data = this.form.data();
            this.proccessing = true;
            let contact;
            try {
                const result = await axios.post(this.route('contacts.create'), data).catch(function (error) {
                    const { response } = error
                    if(response?.data) {
                        const { error } = response.data;
                        const messages = Object.values(error).join(',');
                        throw new Error(messages);
                    } else {
                        throw new Error(error.message);
                    }
                });
                contact = result.data
            } catch (error) {
                this.error = error.message
            } finally {
                this.proccessing = false
            }
            if(contact) {
                this.$emit('created', contact);
                this.close()
            }
        }
    }
}
</script>


<style>
/* styles from https://www.tailwindtoolbox.com/components/modal */
.modal {
    transition: opacity 0.25s ease;
    @apply fixed w-full h-full top-0 left-0 flex items-center justify-center;
}

.modal-overlay {
    @apply absolute w-full h-full bg-gray-900 opacity-50;
}

.modal-container {
    @apply bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto;
}

.modal-close-container {
    @apply absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50;
}

.modal-content {
    @apply py-4 text-left px-6;
}

.modal-header {
    @apply flex justify-between items-center pb-3;
}

.modal-title {
    @apply text-2xl font-bold;
}

.modal-close {
    @apply text-black cursor-pointer z-50;
}

.modal-label {
    @apply block font-medium text-sm text-gray-700;
}

.modal-input {
    @apply border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full;
}

.modal-footer {
    @apply flex justify-end pt-2;
}

.modal-btn {
    @apply font-bold px-4 py-2 rounded
}

.modal-btn-submit {
    @apply bg-blue-500 text-white hover:bg-blue-700;
}

.modal-btn-close {
    @apply bg-transparent text-blue-500 hover:bg-gray-100 hover:text-blue-700 mr-2
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}
</style>

