<template>
    <div v-if="error" class="font-medium text-red-600">Error: {{ error }}</div>
    <div v-if="isLoading" class="text-center">
        <svg class="animate-spin inline-block h-10 w-10 text-blue-500" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
    </div>
    <div v-else-if="isEmpty" class="text-center">
        There is no any contacts
    </div>
    <div v-else class="contact-list">
        <div class="contact-list-header contact-row">
            <div>first name</div>
            <div>last name</div>
            <div>email</div>
            <div v-if="canDelete" class="contact-item-action"></div>
        </div>
        <contact-item v-for="contact in contacts"
                      class="contact-item contact-row"
                      :can-delete="canDelete"
                      :contact="contact"
                      :key="contact.id"
                      @deleted="remove(contact)" />
    </div>
    <div v-if="canCreate" class="contact-list-actions">
        <button @click="showCreate = true" class="btn btn-create">Create new contact</button>
    </div>
    <contact-create v-model="showCreate"
                    @created="contacts.push($event)"/>
</template>

<script>
import ContactItem from '@/Components/ContactItem'
import ContactCreate from '@/Components/ContactCreate'

export default {
    data() {
        return {
            contacts: [],
            isLoading: true,
            showCreate: false,
            error: ''
        }
    },
    components: {
        ContactItem,
        ContactCreate
    },
    computed: {
        isEmpty() {
            return !this.contacts.length;
        },
        userPermissions() {
            return this.$page.props.auth.user.permissions ?? [];
        },
        canDelete() {
            return this.userPermissions.includes('delete')
        },
        canCreate() {
            return this.userPermissions.includes('create')
        }
    },
    async mounted() {
        let response;
        try {
            const { data } = await axios.get(this.route('contacts.index'));
            response = data;
        } catch (error) {
            this.error = error.message;
        }
        this.contacts = response;
        this.isLoading = false;
    },
    methods: {
        remove(contact) {
            const index = this.contacts.indexOf(contact);
            this.contacts.splice(index, 1);
        }
    }
}
</script>

<style>
.contact-list {
    @apply table w-full;
}
.contact-row {
    @apply table-row;
}
.contact-row > div {
    @apply table-cell border-b border-blue-500 border-solid py-4;
}

.contact-list-header > div {
    @apply pt-0;
}

.contact-item-action {
    width:1.5rem;
    @apply text-right pl-4;
}

.contact-list-actions {
    @apply text-right pt-4;
}

.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-create {
    @apply bg-blue-500 text-white hover:bg-blue-700;
}

</style>
